{% extends 'base.htm' %}
{% block body_block %}


<div class="container my-5">
    {% if category is not None %}
    <h4 class="my-5">Products from {{name}} Category</h4>
    {% else %}
    <h2 class="my-5">Featured Products</h2>
    {% endif %}

    <div class="row">
        {% for product in object_list %}
        <div class="col-md-6 col-sm-12 col-lg-3">
            <figure class="card card-product">
                <div class="img-wrap">
                    <img src="/media/{{product.mainimage}}" style="width: 100%; height: 300px;" >
                </div>
                <figcaption class="info-wrap">
                    <h6 class="title"><a href="{% url 'App_Shop:product_details' pk=product.pk %}">{{product.name}}</a></h6>
                    <div class="acttion-wrap">
                        <div class="price-wrap h5">
                            <span class="price-new">  
                                <!-- taka sign -->
                                &#2547; {{product.price|floatformat:2}}
                            </span>
                            <span class="price-old">
                                <strike>
                                &#2547; {{product.old_price|floatformat:2}}
                            </strike>
                            </span>
                                <br><br>
                            <div>
                                <span>
                                <a href="{% url 'App_Order:add' pk=product.pk %}" class="btn btn-sm btn-outline-primary text-uppercase">
                                    <i class="fas fa-shopping-cart"></i>
                                    Cart
                                </a>
                            </span>
                            </div>
                        </div>
                    </div>
                </figcaption>

            </figure>

        </div>
        
       
        {% comment %} home view te kono object er nam boli nai tai default object_list {% endcomment %}
        
        {% endfor %}

    </div>

</div>




{% endblock %}